<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Log In</title>
</head>

<body class="bg-page-noOpacity fullscreen">
    <div class="fullscreen row justify-content-center  align-items-center ">

        <div class=" col-md-5 align-items-center mb-5">

            <h1>Log-In</h1>
            <hr>

            <form action="/login" method="POST">
                <div class="mb-3 noOpacity">
                    <label for="email" class="form-label fs-5">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}"
                        placeholder="Text your email here...">
                </div>

                <div class="mb-3 noOpacity">
                    <label for="password" class="form-label fs-5">Password</label>
                    <input type="password" class="form-control" id="password" name="userPwd"
                        placeholder="Text your password here...">
                </div>

                <div class="d-grid gap-2 mb-4 noOpacity">
                    <button type="submit" class="btn btn-dark block noOpacity">Log in</button>
                </div>

                <a class="fs-5" href="/signup"> Don't have an account already? Go to Sign Up</a>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>