<h1 class="text-center">Drivers List</h1>
<div class="row justify-content-center">

    <form class="d-flex my-3" role="search" action="/drivers/list/year" method="GET">
        <input class="form-control me-2" type="search" name="year" placeholder="Text year season to search drivers"
            aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    {{#each driver}}
    <div class="col-lg-3 col-md-5 card mx-2 mb-3">

        <div class="driver-card card-body">
            <h4 class="mb-4 text-center"> {{givenName}} {{familyName}}</h4>
            <p><b>Birth Day:</b> {{dateOfBirth}}</p>
            <p><b>Nationality:</b> {{nationality}}</p>
        </div>

    </div>
    {{/each}}

</div>