{{!-- !-- {{#if isAdmin}} -- --}}
<form class="d-grid" action="/event/create" method="POST">
    <h1 class="text-center">CREATE EVENT</h1>
    <select class="form-select" aria-label="Default select example" name="circuit">
        <option selected disabled>Select a Circuit... </option>
        <option value="Albert Park Grand Prix Circuit">Albert Park Grand Prix Circuit</option>
        <option value="Circuit of the Americas">Circuit of the Americas</option>
        <option value="Bahrain International Circuit">Bahrain International Circuit</option>
        <option value="Baku City Circuit">Baku City Circuit</option>
        <option value="Circuit de Barcelona-Catalunya">Circuit de Barcelona-Catalunya</option>
        <option value="Hungaroring">Hungaroring</option>
        <option value="Autodromo Enzo e Dino Ferrari">Autodromo Enzo e Dino Ferrari</option>
        <option value="Autódromo José Carlos Pace">Autódromo José Carlos Pace</option>
        <option value="Jeddah Corniche Circuit">Jeddah Corniche Circuit</option>
        <option value="Marina Bay Street Circuit">Marina Bay Street Circuit</option>
        <option value="Miami International Autodrome">Miami International Autodrome</option>
        <option value="Circuit de Monaco">Circuit de Monaco</option>
        <option value="Autodromo Nazionale di Monza">Autodromo Nazionale di Monza</option>
        <option value="Red Bull Ring">Red Bull Ring</option>
        <option value="Circuit Paul Ricard">Circuit Paul Ricard</option>
        <option value="Autódromo Hermanos Rodríguez">Autódromo Hermanos Rodríguez</option>
        <option value="Silverstone Circuit">Silverstone Circuit</option>
        <option value="Circuit de Spa-Francorchamps">Circuit de Spa-Francorchamps</option>
        <option value="Suzuka Circuit">Suzuka Circuit</option>
        <option value="Circuit Gilles Villeneuve">Circuit Gilles Villeneuve</option>
        <option value="Yas Marina Circuit">Yas Marina Circuit</option>
        <option value="Circuit Park Zandvoort">Circuit Park Zandvoort</option>
    </select>

    <div class="mb-3">
        <label for="date" class="form-label">Race Date</label>
        <input type="date" class="form-control" id="date" name="date">
    </div>


    <input type="submit" value="Create Event" class="btn btn-dark btn-sm border-dark mb-3">
</form>


{{!-- !-- {{/if}} -- --}}